body{
    margin: 0;
}
.header{
  width: 100%;
  display: flex;
  font-family: 'Titillium web';
  font-size: 16px;

}
.headerWrapper{
    padding: 56px 200px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    background-color: #87509c;
    justify-content: space-between;
}
img {
    width: 116px;
    height: 32px;
}
ul{
    display: flex;
    flex-direction: row;
    background-color: #87509c;
    list-style-type: none;
 
    justify-content: space-between;
    gap: 56px;      
}
¬
a{
    color: white;
    text-decoration: none;
}

